:root {
  --primary-color: rgba(11, 12, 12, 0.2);
  --secondary-color: rgba(229, 148, 0, 0.9);
  --overlay-color: rgba(41, 42, 43, 0.85);
  --menu-speed: 0.75s;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

* body {
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("./pexels-mart-production-7290739.jpg") center center/cover;
  text-align: center;
  height: 100vh;
}

.container::before {
  content: "";
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container * {
  z-index: 0;
}

.home-flex {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 5px;
}

h1 {
  font-size: 40px;
}
